<% provide(:title, t('views.users.new.sign_up')) %>
<% provide(:button_text, t('views.users.new.create_my_account')) %>

<h1 class="ui header"><%= t('views.users.new.sign_up') %></h1>

<div class="ui grid">
  <div class="six wide column left">
    <%= render 'form' %>
  </div>
</div>

