<% if @user.errors.any? %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      <%= t('views.shared.error_messages.form_errors')%>:
    </div>
    <ul class="list">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
