<% provide(:title, t('views.lens_types.new.add_lens_type')) %>

<h1 class="ui header"><%= t('views.lens_types.new.add_lens_type') %></h1>

<div class="ui grid">
  <div class="column center">
    <%= render 'form' %>
  </div>
</div>