<footer class="ui vertical footer segment">
  <div class="ui container">
     <nav>
      <ul class="ui horizontal list">

        <li><a href="https://news.railstutorial.org/" class="item">News</a></li>
      </ul>
    </nav>
  </div>
</footer>
